<!DOCTYPE html>
<html lang="en">

<head>
    <title>So Active</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/img/logoGrande.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.png">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/perfil.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.min.css">

</head>

<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none"
                        href="mailto:soactive@gmail.com">soactive@gmail.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:+57 300 5751433">+57 300
                        5751433</a>
                </div>
                <div>

                    <a class="text-light" href="https://www.instagram.com/so__active/" target="_blank"><i
                            class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.tiktok.com/@so.active" target="_blank"><i
                            class="fab fa-tiktok fa-sm fa-fw me-2"></i></a>

                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Menu arriba -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="home">
                So Active
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="catalogue">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- Aqui es lo de iniciar sesion y carrito -->
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>

                    <a class="nav-icon position-relative text-decoration-none" href="homel">
                        <i class="fas fa-sign-out-alt"></i> log out
                        <span
                            class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="agregarProducto">
                        <i class="fas fa-cogs"></i> Administrador
                        <span
                            class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="favoritos">
                        <i class="fas fa-heart"></i> 
                        <span
                            class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                    </a>

                </div>
            </div>

        </div>
    </nav>
    <!-- Final menu -->

    <!-- Todo sobre el boton busqueda -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Start Content -->
    <!-- User Profile -->
    <div class="container my-5">
        <h1>My Profile</h1>

        <div class="row">
            <div class="col-md-6">
                <h2>User Information</h2>
                <ul>
                   
                    <li><strong>Name:</strong>  Sofía</li>
                    <li><strong>Email:</strong> sofia@gmail.com</li>
                    <li><strong>Phone:</strong> 12345678</li>
              
                </ul>
            </div>
           <!--<div class="col-md-6">
                <h2>Shipping Details</h2>
                <ul>
                    <li><strong>Shipping Address:</strong> [User's Shipping Address]</li>
                    <li><strong>City:</strong> [Shipping City]</li>
                    <li><strong>Postal Code:</strong> [Postal Code]</li>
                </ul>
            </div>--> 
        </div>

        <!-- <h2>Purchase History</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Purchase Date</th>
                    <th>Products Purchased</th>
                    <th>Order Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>[Purchase Date]</td>
                    <td>[Products Purchased]</td>
                    <td>[Order Status]</td>
                </tr>--> 
                <!-- Repeat this structure for each purchase -->
           <!-- </tbody>
        </table> --> 

        <h2>Account Settings</h2>
        <ul>
            <li><a href="#">Change Password</a></li>
        </ul>

        <h2>Payment Methods</h2>
        <ul>
            <li>[Display credit cards or payment methods saved by the user]</li>
        </ul>

    </div>
</body>

</html>